#pleaseWaitDialog .modal-body {
  text-align: center;
  height: 100%;
}

.bar {
  text-align: center;
  color: #FFF;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.25);
  line-height: 5em;
  background: rgba(128,128,128,0.25);
  border-top: 1px solid rgba(250,253,255,0.2);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

.bar:before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  top: 0; right: 0; left: 0;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
 
}

body { 
  padding-top: 60px; 
} 

table.collapse.in { 
  display: table; 
}